<% extend extend-default-parent -%>
<% block title -%>Page Title<% endblock -%>
<% block page -%>
<ul>
  <% pets.forEach(function(pet){ -%>
  <li><%= pet.name %></li>
  <% }) -%>
</ul>
<% endblock -%>