<div id="layout_2">
    <div id="layout_1_wrapper">
        <% extends layout_1.ejs %>
    </div>
    <% block block_1%><p>from layout 2 - block 1</p><%end%>
    <% block block_2 %>
        <% block l2_block_1 %><% end %>
    <% end %>
    <% block l2_block_2 %><%end%>
</div>
